doctype html
html
    head
        title= title
        link(rel="icon" href="/favicon.png" type="image/x-icon")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        
        //JQuery
        //script(type="application/javascript", src="js/jquery-3.2.1.min.js")
        script(type="application/javascript", src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
        
        // bootstrap
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" 
            integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" 
            crossorigin="anonymous")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" 
                integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" i
                ntegrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" 
                crossorigin="anonymous")
            
        // estilo customizado
        //- link(rel="stylesheet" type="text/css", href="css/ola.css")
        link(rel="stylesheet/less" type="text/css" href="less/tmldi.less")
        script(src="js/less.min.js" type="text/javascript")
            
        // outras coisas
        script(src="js/tmldi.js" type="text/javascript")
        block inserts
    body
        block navbar
        div(id="ajaxbox")
            block ajaxbox
        footer(class="footer")
            div(class="container")
                div(class="row align-items-center")
                    div(class="col-sm-3 mx-auto")
                        a(href="https://www.endpolio.org/pt" target="_blank")
                            img(src="img/endpolio.png" alt="")
                    div(class="col-sm-3 mx-auto")
                        a(href="https://www.interactbrasil.org" target="_blank")
                            img(src="img/icbr.png" alt="")
                    div(class="col-sm-3 mx-auto")
                        a(href="https://www.facebook.com/interactcampinas" target="_blank")
                            img(src="img/icja.jpeg" alt="")
